@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

body {
	margin: 0 auto;
	padding: 10px;
}

.heading {
	color: green;
	background-color: black;
}

.main {
	
}