@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

body {
	margin: 0 auto;
	width: auto;
	font-family: 'Oswald', sans-serif;
}

.heading {
	background-color: black;
	text-align: center;
	height: 100px;
}

#logo {
	padding: 15px 0px 0px;
	font-size: 40px;
	color: #79CC5E;
	margin: inherit;
}

.main {
	margin: 0 auto;
	width: 75%;
	padding: 50px;
	vertical-align: middle;
}

h1 {
	font-size: 20px;
}

#clock {
/*	top: 200px;*/
	height: 150px;
	width: 700px;
	margin: auto;
	font-family: 'Oswald', sans-serif;
	font-size: 100px;
	color: #79CC5E;
}

.alarm-options {
	top: 350px;
	height: 100px;
}

#current-alarm {
	height: 150px;
	width: 700px;
	margin: auto;
	font-family: 'Oswald', sans-serif;
	font-size: 100px;
	color: #79CC5E;
}

.time-field {

}

.hours {

}

.minutes {

}

#set-alarm {
	
}